body{
    background-color: rgb(228, 240, 244);
}
h1{
    text-align: center;
    font-family: Comic Sans MS;
}
hr{
    border-style: inset;
    border-color: blue;
}
h3{
    font-family: Comic Sans MS;
}
p{
    
    font-family: Arial;
}